/* =======================
   FORM MESSAGE STYLES
   ======================= */
.form-message {
  position: fixed;
  top: 4rem;
  left:50%;
  right: 50%;
  margin-top: 1rem;
  padding: 0.9rem 1rem;
  border-radius: 0.6rem;
  text-align: center;
  align-items: center;
  transform: translateX(-50%);
  background: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  width: 15rem;
  box-shadow: var(--box-shadow);
   z-index: 1112; 
  animation: fadeIn 0.3s ease-in;
}

/* Success message */
.form-message.success {
  background: var(--lightbrown);
  border: 1px solid var(--brown);
  color: var(--darkbrown);
}

/* Error message */
.form-message.error {
  background: #fde2e1;
  border: 1px solid red;
  color: #842029;
}

/* Button inside the message */
.form-message .btn {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background: var(--brown);
  transition: background 0.2s ease-in;
}

.form-message .btn p {
  margin: 0;
  color: var(--white);
  font-size: 0.85rem;
}

.form-message .btn:hover {
  background: var(--darkbrown);
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
