.Multimedia{
    background-image: url("../../assets/identity.mp4");
    width: 100%;
    background-color: rgb(9, 9, 9, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-blend-mode: multiply;
    background-attachment: fixed;
    min-height: 190vh;
 
}
.backgroundVideo{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;

  

}
.Multimedia .title{
   border-bottom-color: var(--brown);
}
.Multimedia .title_small{
    color: var(--gray);
}
.multimedia_container{
    flex-wrap: wrap;
    gap:1rem;
    padding-block: 1rem;
    align-items: flex-end;
}
.media-card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    opacity: 0;
    gap:.4rem;
    margin-bottom: 2rem;
}
.media-card .image_holder{
  position: relative;
}
.media-card .image_holder img{
  width: 100%;
  border-radius: 1rem;
}
.media-card .videoLayer{
    height: 96%;
    border-radius: 1rem;
}
.media-card .image_holder:hover .videoLayer{
    width: 0%;
}


.media-card h2{
    font-size: 1.41rem;
    color: var(--white);
    margin-bottom: 0.5rem;
    line-height: 2.1rem;
    text-transform: capitalize;
}
.media-card p{
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: var(--gray);
    line-height: 1.3rem;

}
.media-card .btn-slide{
    width: 100%;
    align-self: center;
}
.media-card .btn-slide p{
    color: var(--white);
}
.media-card .btn-slide:hover p{
    color: var(--black)
}
.media-card.active{
    animation: bottomfadeIn 1.3s forwards;
}
